<a><font size="8"><div align="center">WLAC</div></font></a><br><br><br>


<br> <br>

<a>
<font size="5">

# WLAC stands for Windows to Linux Api Converter <br><br>

This is library for windows. The library implemets some POSIX functions as well some unix specific <br>
c  functions.  The  implemented  functions  and  corresponding  headers (unistd.h, pthread.h, ...) <br> 
will  allow  to  compile  some  sources  on  WINDOWS, that  were  developed  using  pure  UNIX and <br>
POSIX functionalities  <br>


<br><br>
links <br>
<a href="https://github.com/davitkalantaryan/wlac"><b>WLAC-github</b></a>  <br>
<a href="https://stash.desy.de/users/kalantar/repos/wlac/browse"><b>WLAC-stash</b></a>  <br>



</font>
</a><br><br>
